/*  */
#card-stacks_in_10 .card-inner:hover::before {
  opacity: 0.8; }

#card-stacks_in_10 .card-inner:hover .card-more {
  color: rgba(0, 0, 0, 0.50);
  background: rgba(255, 255, 255, 1.00); }

#card-stacks_in_10 .card-inner.shift:hover {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px); }

/*  */
.com_weavium_stacks_Image_Card_stack, #stacks_out_10 {
  overflow: visible !important; }

#card-stacks_in_10 {
  /*  */
  width: 100%;
  /*  */
  padding: 30px 20px;
  box-sizing: border-box; }
  #card-stacks_in_10.card-left {
    margin-right: auto; }
  #card-stacks_in_10.card-right {
    margin-left: auto; }
  #card-stacks_in_10.card-center {
    margin: 0 auto; }
  #card-stacks_in_10 * {
    box-sizing: border-box;
    transition: all 0.3s ease-out; }
  #card-stacks_in_10 a:first-of-type {
    text-decoration: none; }
  #card-stacks_in_10 .card-inner {
    /*  */
    font-family: "Montserrat";
    /*  */
    /*  */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.50);
    /*  */
    color: rgba(255, 255, 255, 1.00);
    padding: 30px 25px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /*  */
    background: url(../files/card_image-10.png);
    /*  */
    background-color: rgba(255, 255, 255, 1.00);
    background-size: cover;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center top;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    #card-stacks_in_10 .card-inner::before {
      /*  */
      background: linear-gradient(to bottom right, #118040, #3F5EFB);
      /*  */
      content: '';
      top: 50%;
      left: 50%;
      width: 105%;
      height: 105%;
      display: block;
      position: absolute;
      opacity: 0.11;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
    #card-stacks_in_10 .card-inner .card-caption {
      /*  */
      text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.50);
      /*  */
      margin: 0;
      z-index: 2;
      font-weight: bold;
      position: relative; }
      #card-stacks_in_10 .card-inner .card-caption.hide {
        display: none; }
    #card-stacks_in_10 .card-inner .card-more {
      z-index: 2;
      margin-top: auto;
      width: 35px;
      height: 35px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      color: inherit;
      position: relative;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -ms-flex-item-align: end;
          align-self: flex-end;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      border: 3px solid rgba(255, 255, 255, 1.00);
      border-radius: 35px;
      transition: all 0.1s ease-out; }
      #card-stacks_in_10 .card-inner .card-more.hide {
        display: none; }
      #card-stacks_in_10 .card-inner .card-more i {
        font-size: 20px; }

@media (min-width: 767px) {
  #card-stacks_in_10 .card-inner {
    height: 250px; }
    #card-stacks_in_10 .card-inner .card-caption {
      font-size: 24px;
      line-height: 34px; } }

@media (min-width: 468px) and (max-width: 767px) {
  #card-stacks_in_10 .card-inner {
    height: 250px; }
    #card-stacks_in_10 .card-inner .card-caption {
      font-size: 24px;
      line-height: 34px; } }

@media (min-width: 0px) and (max-width: 468px) {
  #card-stacks_in_10 .card-inner {
    height: 250px; }
    #card-stacks_in_10 .card-inner .card-caption {
      font-size: 24px;
      line-height: 34px; } }
#stacks_in_16>.s3_row {
	margin: 0 -10px;
}

#stacks_in_16>.s3_row>.s3_column_left {
	width: 33.33%;
}

#stacks_in_16>.s3_row>.s3_column_center {
	width: 33.339996%;
}

#stacks_in_16>.s3_row>.s3_column_right {
	width: 33.33%;
}

#stacks_in_16>.s3_row>.s3_column {
	padding: 0 10px;
}








@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_16>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_16>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}



/* NoteThing by RapidWeaver Central  — Inspired by Mrs RapidWeaver Central but based on a snippet by Thibaut Courouble */

/*
 * Copyright (c) 2012 Thibaut Courouble
 * http://www.webinterfacelab.com
 * Licensed under the MIT License:
 * http://www.opensource.org/licenses/mit-license.php
 */

#stacks_in_26 .notepad, .notepad:before, .notepad:after {
	background-color: white;
	background-image: -webkit-linear-gradient(#f6abca 1px, transparent 1px), -webkit-linear-gradient(#f6abca 1px, transparent 1px), -webkit-linear-gradient(#e8e8e8 1px, transparent 1px);
	background-image: -moz-linear-gradient(#f6abca 1px, transparent 1px), -moz-linear-gradient(#f6abca 1px, transparent 1px), -moz-linear-gradient(#e8e8e8 1px, transparent 1px);
	background-image: -o-linear-gradient(#f6abca 1px, transparent 1px), -o-linear-gradient(#f6abca 1px, transparent 1px), -o-linear-gradient(#e8e8e8 1px, transparent 1px);
	background-image: linear-gradient(#f6abca 1px, transparent 1px), linear-gradient(#f6abca 1px, transparent 1px), linear-gradient(#e8e8e8 1px, transparent 1px);
	background-size: 1px 1px, 1px 1px, 23px 23px;
	background-repeat: repeat-y, repeat-y, repeat;
	background-position: 22px 0, 24px 0, 0 50px;
	-webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 0 4px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 0 4px rgba(0, 0, 0, 0.5);
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
		 -moz-border-radius-topleft: 3px;
	     -moz-border-radius-topright:3px;
				  border-top-radius: 3px;
}

#stacks_in_26 .notepad {
	position: relative;
	margin: 15px auto;
	padding: 0 23px 14px 35px;
	width: 245px;
	line-height: 23px;
	font-size: 11px;
	color: #666;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
		 -moz-border-radius-topleft: 3px;
	     -moz-border-radius-topright:3px;
				  border-top-radius: 3px;
}

#stacks_in_26 .notepad p {
	margin-bottom: 23px;
}

#stacks_in_26 .notepad :last-child {
	margin-bottom: 0;
}

#stacks_in_26 .notepad:before, .notepad:after {
	content: '';
	position: absolute;
	z-index: -1;
	top: 100%;
	left: 3px;
	right: 3px;
	margin-top: -2px;
	height: 4px;
	background-size: 1px 1px, 1px 1px, 0 0;
}

#stacks_in_26 .notepad:before {
	z-index: -2;
	left: 6px;
	right: 6px;
	height: 6px;
	background-color: #eee;
}

/* Heading */

#stacks_in_26 .notepad-heading {
	position: relative;
	margin: 0 -23px 14px -35px;
	height: auto;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
		 -moz-border-radius-topleft: 3px;
	     -moz-border-radius-topright:3px;
				  border-top-radius: 3px;
}

#stacks_in_26 .notepad-heading  {
	line-height: auto;
	padding: 6px;
	font-size: 16px;
	color: #BB0000;		
	text-align: center;
}

#stacks_in_26 .notepad-heading:before, .notepad-heading:after {
	content: '';
	position: absolute;
	bottom: 2px;
	left: 1px;
	right: 1px;
	height: 0;
	border-top:  1px dashed;
	border-color: #000000;
}

#stacks_in_26 .notepad-heading:after {
	bottom: 3px;
	border-color: #071c2c;
	border-color: rgba(0, 0, 0, 0.5);
}

/* Background */

.static-bg0stacks_in_26 {
	background: transparent;
}

.static-bg1stacks_in_26 {
	background: #333333;
}

.static-bg2stacks_in_26 {
	background-color: #FFFFFF;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, right bottom, from(#FFFFFF), to(#FFFFFF));
	background-image: -moz-linear-gradient(left, #FFFFFF, #FFFFFF);
	background-image: -ms-linear-gradient(left, #FFFFFF, #FFFFFF);
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #FFFFFF), color-stop(100%, #FFFFFF));
	background-image: -webkit-linear-gradient(left, #FFFFFF, #FFFFFF);
	background-image: -o-linear-gradient(left, #FFFFFF, #FFFFFF);
	background-image: linear-gradient(left, #FFFFFF, #FFFFFF);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#FFFFFF', GradientType=1);
}

.static-bg3stacks_in_26 {
	background-color: #FFFFFF;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#FFFFFF), to(#FFFFFF));
	background-image: -moz-linear-gradient(top, #FFFFFF, #FFFFFF);
	background-image: -ms-linear-gradient(top, #FFFFFF, #FFFFFF);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFFFFF), color-stop(100%, #FFFFFF));
	background-image: -webkit-linear-gradient(top, #FFFFFF, #FFFFFF);
	background-image: -o-linear-gradient(top, #FFFFFF, #FFFFFF);
	background-image: linear-gradient(top, #FFFFFF, #FFFFFF);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#FFFFFF', GradientType=0);
}

.static-bg4stacks_in_26 {
	background: url();
	background-position: center center;
	background-repeat: repeat;
}

.static-bg5stacks_in_26 {
	background: url();
	background-position: Center Center;
	background-repeat: Center Center;
}

/* NoteThing by RapidWeaver Central  — Inspired by Mrs RapidWeaver Central but based on a snippet by Thibaut Courouble */

/*
 * Copyright (c) 2012 Thibaut Courouble
 * http://www.webinterfacelab.com
 * Licensed under the MIT License:
 * http://www.opensource.org/licenses/mit-license.php
 */

#stacks_in_28 .notepad, .notepad:before, .notepad:after {
	background-color: white;
	background-image: -webkit-linear-gradient(#f6abca 1px, transparent 1px), -webkit-linear-gradient(#f6abca 1px, transparent 1px), -webkit-linear-gradient(#e8e8e8 1px, transparent 1px);
	background-image: -moz-linear-gradient(#f6abca 1px, transparent 1px), -moz-linear-gradient(#f6abca 1px, transparent 1px), -moz-linear-gradient(#e8e8e8 1px, transparent 1px);
	background-image: -o-linear-gradient(#f6abca 1px, transparent 1px), -o-linear-gradient(#f6abca 1px, transparent 1px), -o-linear-gradient(#e8e8e8 1px, transparent 1px);
	background-image: linear-gradient(#f6abca 1px, transparent 1px), linear-gradient(#f6abca 1px, transparent 1px), linear-gradient(#e8e8e8 1px, transparent 1px);
	background-size: 1px 1px, 1px 1px, 23px 23px;
	background-repeat: repeat-y, repeat-y, repeat;
	background-position: 22px 0, 24px 0, 0 50px;
	-webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 0 4px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 0 4px rgba(0, 0, 0, 0.5);
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
		 -moz-border-radius-topleft: 3px;
	     -moz-border-radius-topright:3px;
				  border-top-radius: 3px;
}

#stacks_in_28 .notepad {
	position: relative;
	margin: 15px auto;
	padding: 0 23px 14px 35px;
	width: 244px;
	line-height: 23px;
	font-size: 11px;
	color: #666;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
		 -moz-border-radius-topleft: 3px;
	     -moz-border-radius-topright:3px;
				  border-top-radius: 3px;
}

#stacks_in_28 .notepad p {
	margin-bottom: 23px;
}

#stacks_in_28 .notepad :last-child {
	margin-bottom: 0;
}

#stacks_in_28 .notepad:before, .notepad:after {
	content: '';
	position: absolute;
	z-index: -1;
	top: 100%;
	left: 3px;
	right: 3px;
	margin-top: -2px;
	height: 4px;
	background-size: 1px 1px, 1px 1px, 0 0;
}

#stacks_in_28 .notepad:before {
	z-index: -2;
	left: 6px;
	right: 6px;
	height: 6px;
	background-color: #eee;
}

/* Heading */

#stacks_in_28 .notepad-heading {
	position: relative;
	margin: 0 -23px 14px -35px;
	height: auto;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
		 -moz-border-radius-topleft: 3px;
	     -moz-border-radius-topright:3px;
				  border-top-radius: 3px;
}

#stacks_in_28 .notepad-heading  {
	line-height: auto;
	padding: 6px;
	font-size: 16px;
	color: #BB0000;		
	text-align: center;
}

#stacks_in_28 .notepad-heading:before, .notepad-heading:after {
	content: '';
	position: absolute;
	bottom: 2px;
	left: 1px;
	right: 1px;
	height: 0;
	border-top:  1px dashed;
	border-color: #000000;
}

#stacks_in_28 .notepad-heading:after {
	bottom: 3px;
	border-color: #071c2c;
	border-color: rgba(0, 0, 0, 0.5);
}

/* Background */

.static-bg0stacks_in_28 {
	background: transparent;
}

.static-bg1stacks_in_28 {
	background: #333333;
}

.static-bg2stacks_in_28 {
	background-color: #FFFFFF;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, right bottom, from(#FFFFFF), to(#FFFFFF));
	background-image: -moz-linear-gradient(left, #FFFFFF, #FFFFFF);
	background-image: -ms-linear-gradient(left, #FFFFFF, #FFFFFF);
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #FFFFFF), color-stop(100%, #FFFFFF));
	background-image: -webkit-linear-gradient(left, #FFFFFF, #FFFFFF);
	background-image: -o-linear-gradient(left, #FFFFFF, #FFFFFF);
	background-image: linear-gradient(left, #FFFFFF, #FFFFFF);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#FFFFFF', GradientType=1);
}

.static-bg3stacks_in_28 {
	background-color: #FFFFFF;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#FFFFFF), to(#FFFFFF));
	background-image: -moz-linear-gradient(top, #FFFFFF, #FFFFFF);
	background-image: -ms-linear-gradient(top, #FFFFFF, #FFFFFF);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFFFFF), color-stop(100%, #FFFFFF));
	background-image: -webkit-linear-gradient(top, #FFFFFF, #FFFFFF);
	background-image: -o-linear-gradient(top, #FFFFFF, #FFFFFF);
	background-image: linear-gradient(top, #FFFFFF, #FFFFFF);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#FFFFFF', GradientType=0);
}

.static-bg4stacks_in_28 {
	background: url();
	background-position: center center;
	background-repeat: repeat;
}

.static-bg5stacks_in_28 {
	background: url();
	background-position: Center Center;
	background-repeat: Center Center;
}

/* NoteThing by RapidWeaver Central  — Inspired by Mrs RapidWeaver Central but based on a snippet by Thibaut Courouble */

/*
 * Copyright (c) 2012 Thibaut Courouble
 * http://www.webinterfacelab.com
 * Licensed under the MIT License:
 * http://www.opensource.org/licenses/mit-license.php
 */

#stacks_in_30 .notepad, .notepad:before, .notepad:after {
	background-color: white;
	background-image: -webkit-linear-gradient(#f6abca 1px, transparent 1px), -webkit-linear-gradient(#f6abca 1px, transparent 1px), -webkit-linear-gradient(#e8e8e8 1px, transparent 1px);
	background-image: -moz-linear-gradient(#f6abca 1px, transparent 1px), -moz-linear-gradient(#f6abca 1px, transparent 1px), -moz-linear-gradient(#e8e8e8 1px, transparent 1px);
	background-image: -o-linear-gradient(#f6abca 1px, transparent 1px), -o-linear-gradient(#f6abca 1px, transparent 1px), -o-linear-gradient(#e8e8e8 1px, transparent 1px);
	background-image: linear-gradient(#f6abca 1px, transparent 1px), linear-gradient(#f6abca 1px, transparent 1px), linear-gradient(#e8e8e8 1px, transparent 1px);
	background-size: 1px 1px, 1px 1px, 23px 23px;
	background-repeat: repeat-y, repeat-y, repeat;
	background-position: 22px 0, 24px 0, 0 50px;
	-webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 0 4px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 0 4px rgba(0, 0, 0, 0.5);
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
		 -moz-border-radius-topleft: 3px;
	     -moz-border-radius-topright:3px;
				  border-top-radius: 3px;
}

#stacks_in_30 .notepad {
	position: relative;
	margin: 15px auto;
	padding: 0 23px 14px 35px;
	width: 248px;
	line-height: 23px;
	font-size: 11px;
	color: #666;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
		 -moz-border-radius-topleft: 3px;
	     -moz-border-radius-topright:3px;
				  border-top-radius: 3px;
}

#stacks_in_30 .notepad p {
	margin-bottom: 23px;
}

#stacks_in_30 .notepad :last-child {
	margin-bottom: 0;
}

#stacks_in_30 .notepad:before, .notepad:after {
	content: '';
	position: absolute;
	z-index: -1;
	top: 100%;
	left: 3px;
	right: 3px;
	margin-top: -2px;
	height: 4px;
	background-size: 1px 1px, 1px 1px, 0 0;
}

#stacks_in_30 .notepad:before {
	z-index: -2;
	left: 6px;
	right: 6px;
	height: 6px;
	background-color: #eee;
}

/* Heading */

#stacks_in_30 .notepad-heading {
	position: relative;
	margin: 0 -23px 14px -35px;
	height: auto;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
		 -moz-border-radius-topleft: 3px;
	     -moz-border-radius-topright:3px;
				  border-top-radius: 3px;
}

#stacks_in_30 .notepad-heading  {
	line-height: auto;
	padding: 6px;
	font-size: 16px;
	color: #BB0000;		
	text-align: center;
}

#stacks_in_30 .notepad-heading:before, .notepad-heading:after {
	content: '';
	position: absolute;
	bottom: 2px;
	left: 1px;
	right: 1px;
	height: 0;
	border-top:  1px dashed;
	border-color: #000000;
}

#stacks_in_30 .notepad-heading:after {
	bottom: 3px;
	border-color: #071c2c;
	border-color: rgba(0, 0, 0, 0.5);
}

/* Background */

.static-bg0stacks_in_30 {
	background: transparent;
}

.static-bg1stacks_in_30 {
	background: #333333;
}

.static-bg2stacks_in_30 {
	background-color: #FFFFFF;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, right bottom, from(#FFFFFF), to(#FFFFFF));
	background-image: -moz-linear-gradient(left, #FFFFFF, #FFFFFF);
	background-image: -ms-linear-gradient(left, #FFFFFF, #FFFFFF);
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #FFFFFF), color-stop(100%, #FFFFFF));
	background-image: -webkit-linear-gradient(left, #FFFFFF, #FFFFFF);
	background-image: -o-linear-gradient(left, #FFFFFF, #FFFFFF);
	background-image: linear-gradient(left, #FFFFFF, #FFFFFF);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#FFFFFF', GradientType=1);
}

.static-bg3stacks_in_30 {
	background-color: #FFFFFF;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#FFFFFF), to(#FFFFFF));
	background-image: -moz-linear-gradient(top, #FFFFFF, #FFFFFF);
	background-image: -ms-linear-gradient(top, #FFFFFF, #FFFFFF);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFFFFF), color-stop(100%, #FFFFFF));
	background-image: -webkit-linear-gradient(top, #FFFFFF, #FFFFFF);
	background-image: -o-linear-gradient(top, #FFFFFF, #FFFFFF);
	background-image: linear-gradient(top, #FFFFFF, #FFFFFF);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#FFFFFF', GradientType=0);
}

.static-bg4stacks_in_30 {
	background: url();
	background-position: center center;
	background-repeat: repeat;
}

.static-bg5stacks_in_30 {
	background: url();
	background-position: Center Center;
	background-repeat: Center Center;
}

